.idea/aws.xml
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~

# Infrastructure (Terraform files)
Infrastructure/.terraform/
Infrastructure/.terraform.lock.hcl
Infrastructure/terraform.tfstate
Infrastructure/terraform.tfstate.backup

# Sensitive Variables
*.tfvars
venv/
